.array-container{
    align-items: center;
    justify-content: center;
    position: absolute;
    top:25%;
    left: 5%;
    /* right : 5% */
}

.array-bar{
    width: 5px;
    display: inline-block;
    margin:20px 1px;
    border-style:solid;
}